$themeBgColor: #CADFF4;
$themeTxtColor: #171D29;

$headerBgColor: #fff; //#CADFF4;
$mainBodyColor: $headerBgColor; //#CADFF4;
$headerBorderColor: #CADFF4;
$headerTxtColor: $themeTxtColor;

$bgColor: #3F51B5;
$bgColor: #106CC8;
$dimTxtColor: #595959;
$green: #458760;
$light_green: #9BBAC6;
$dark_green: #006F6F;